Tesina linguaggi per il web/xml/catalogo_prodotti.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  
  <xs:element name="catalogo_prodotti">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="prodotto" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="id_prodotto" type="xs:integer"/>
              <xs:element name="nome" type="xs:string"/>
              <xs:element name="descrizione" type="xs:string"/>
              <xs:element name="prezzo" type="xs:decimal"/>
              <xs:element name="tipologia" type="xs:string"/>
              <xs:element name="sconto_generico" type="xs:decimal"/>
              <xs:element name="bonus" type="xs:decimal"/>
              <xs:element name="sconto">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="x" type="xs:decimal"/>
                    <xs:element name="y" type="xs:decimal"/>
                    <xs:element name="m" type="xs:decimal"/>
                    <xs:element name="data_m" type="xs:decimal"/>
                    <xs:element name="n" type="xs:decimal"/>
                    <xs:element name="r" type="xs:decimal"/>
                    <xs:element name="ha_acquistato" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="immagine" type="xs:string"/>
              <xs:element name="domande">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="domanda" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="autore" type="xs:string"/>
                          <xs:element name="testo" type="xs:string"/>
                          <xs:element name="id_domanda" type="xs:string"/>
                          <xs:element name="utilita">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="valore" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                                        <xs:attribute name="reputazione_Vot" type="xs:decimal" use="required"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="supporto">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="valore" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                                        <xs:attribute name="reputazione_Vot" type="xs:decimal" use="required"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="risposte">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="risposta" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="id_risposta" type="xs:string"/>
                                      <xs:element name="id_domanda" type="xs:string"/>
                                      <xs:element name="autore" type="xs:string"/>
                                      <xs:element name="data" type="xs:date"/>
                                      <xs:element name="ora" type="xs:time"/>
                                      <xs:element name="testo" type="xs:string"/>
                                      <xs:element name="utilita_risposta">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="valore" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:decimal">
                                                    <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                                                    <xs:attribute name="reputazione_Vot" type="xs:decimal" use="required"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="supporto_risposta">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="valore" minOccurs="0" maxOccurs="unbounded">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:decimal">
                                                    <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                                                    <xs:attribute name="reputazione_Vot" type="xs:decimal" use="required"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    
                        <xs:attribute name="id_prodotto" type="xs:decimal" use="required"/>
                        <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                        <xs:attribute name="segnalato" type="xs:decimal" use="required"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id_prodotto" type="xs:decimal" use="required"/>
                        <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                        <xs:attribute name="segnalato" type="xs:decimal" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="recensioni">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="recensione" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="autore" type="xs:string"/>
                          <xs:element name="testo" type="xs:string"/>
                          <xs:element name="data" type="xs:date"/>
                          <xs:element name="ora" type="xs:time"/>
                          <xs:element name="id_recensione" type="xs:string"/>
                          <xs:element name="utilita">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="valore" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                                        <xs:attribute name="reputazione_Vot" type="xs:decimal" use="required"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="supporto">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="valore" minOccurs="0" maxOccurs="unbounded">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:decimal">
                                        <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                                        <xs:attribute name="reputazione_Vot" type="xs:decimal" use="required"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id_prodotto" type="xs:decimal" use="required"/>
                        <xs:attribute name="id_utente" type="xs:decimal" use="required"/>
                        <xs:attribute name="segnalato" type="xs:decimal" use="required"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
